@font-face {
	font-family: 'Rubik';
	src: url('Rubik-Bold.eot');
	src: local('Rubik Bold'), local('Rubik-Bold'),
		url('Rubik-Bold.eot?#iefix') format('embedded-opentype'),
		url('Rubik-Bold.woff') format('woff'),
		url('Rubik-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik';
	src: url('Rubik-Regular.eot');
	src: local('Rubik'), local('Rubik-Regular'),
		url('Rubik-Regular.eot?#iefix') format('embedded-opentype'),
		url('Rubik-Regular.woff') format('woff'),
		url('Rubik-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
